#page-content{
    .header .banner {
        margin-top: 4px;
        width: 222px;
    }
    .header h1{
        font-family: "roboto", sans-serif;
        font-size: 25px;
        margin-bottom: 2px;
        color: #fff;
    }
    .header .logo{
        width: 60px;
        height: 40px;
        object-fit: contain;
    }
    .header p{
        font-family: "roboto", sans-serif;
        font-size: 14px;
        font-weight: 300;
        margin: 0;
    }
    .content {
        text-align: center;
        padding: 20px 20px 5px 20px;
    }
    .content h1 {
        font-family: "roboto", sans-serif;
        font-size: 24px;
        color: #000;
        font-weight: bold;
        margin: 0;
    }
    .content p.hello {
        font-family: "roboto", sans-serif;
        font-size: 16px;
        color: #000;
        font-weight: 800;
        margin-bottom: 2px;
    }
    .content .price {
        font-family: "roboto", sans-serif;
        font-size: 45px;
        color: #ff004f;
        margin: 20px 0;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 0;
    }
    .content .date{
        font-family: "roboto", sans-serif;
        color: #B4B4B4;
        font-size: 14px;
        margin: 0;
        font-weight: 500;
        padding-bottom: 14px;
    }
    .content .text{
        font-family: "roboto", sans-serif;
        font-size: 15px;
        font-weight: 500;
        margin: 15px 0 0 0;
        color: #000;
    }
    .image-content{
        position: relative;
        padding-top: 2rem;
    }
    .image-content .user{
        z-index: 10;
        position: relative;
    }
    .image-content .photo{
        width: 340px;
        height: 168px;
    }
    .content-comision{
        border: 1px solid #B4B4B4;
        border-radius: 5px;
        margin-top: 25px;
        padding: 15px 100px;
    }
    .title{
        font-family: "roboto", sans-serif;
        color: #000;
        font-size: 20px;
        margin: 0;
        font-weight: 600;
        text-align: center;
        padding: 1.5rem 0;
    }
    .content-comision>img{
        width: 50px;
        height: 50px;
        object-fit: contain;
        border-radius: 50%;
        padding: 14px 0;
    }
    .content-comision>.user{
        font-family: "roboto", sans-serif;
        color: #000;
        font-size: 14px;
        margin: 0;
        font-weight: 700;
    }
    .content-comision>.comentario{
        font-family: "roboto", sans-serif;
        font-size: 13px;
        font-weight: 500;
        color: #000;
    }
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    ul>li>img{
        width: 100%;
    }
    ul>li{
        width: 125px;
        text-align: -webkit-center;
        padding: 0 3px;
    }
    ul>li>p{
        font-family: "roboto", sans-serif;
        color: #000;
        font-size: 11px;
        font-weight: 600;
        width: 115px;
        margin-top: 15px;
    }
    ul.info{
        display: flex;
        list-style: none;
        margin: 0;
        padding-top: 2rem;
    }
    ul.info>li{
        text-align: -webkit-center;
        padding: 17px 5px;
        height: 120px;
        width: 175px;
        margin: 0 8px;
    }
    ul.info>.codigo{
        background-color: #E5FAFF;
    }
    ul.info>.phone{
        background-color: #E5DEFF;        
    }
    ul.info>.email{
        background-color: #FFDEDE;        
    }
    ul.info>li>p{
        font-family: "roboto", sans-serif;
        font-size: 12px;
        font-weight: 500;
        margin: 0;
        width: unset;
    }
    ul.info>li>h1{
        font-family: "roboto", sans-serif;
        font-size: 15px;
        font-weight: 700;
        margin: 0;
        padding-top: 25px;
        word-break: break-all;
    }
    ul.info>li.codigo>p,
    ul.info.info>li.codigo>h1{
        color: #26CCF0;
    }
    ul.info>li.phone>p,
    ul.info>li.phone>h1{
        color: #6A41FF;
    }
    ul.info>li.email>p,
    ul.info>li.email>h1,
    ul.info>li.email a{
        color: #FF6565;
    }
    @media (max-width: 420px){
        .header .banner {
            margin-top: 11px !important;
        }
        ul {
            display: block;
            justify-content: unset;
            text-align: -webkit-center;
        }
        ul.info>li>h1 {
            font-size: 13px;
        }
        ul.info>li>p {
            font-size: 11px;
            line-height: 13px;
        }
        ul.info>li {
            margin: 0 3px;
        }
        .content .text {
            font-size: 13px;
        }
        .content h1 {
            font-size: 21px;
        }
        .content p.hello {
            font-size: 15px;
        }
        .title {
            font-size: 16px;
        }
    }
}