#page-content{
    .header .banner {
        margin-top: 5px;
        width: 127px;
    }
    .header h1{
        font-family: "roboto", sans-serif;
        font-size: 25px;
        margin-bottom: 2px;
        color: #fff;
    }
    .header .logo{
        width: 60px;
        height: 40px;
        object-fit: contain;
    }
    .header p{
        font-family: "roboto", sans-serif;
        font-size: 14px;
        font-weight: 300;
        margin: 0;
    }
    .content {
        text-align: center;
        padding: 20px 20px 5px 20px;
    }
    .content h1 {
        font-family: "roboto", sans-serif;
        font-size: 24px;
        color: #000;
        font-weight: bold;
        margin: 0;
    }
    .content p.hello {
        font-family: "roboto", sans-serif;
        font-size: 16px;
        color: #000;
        font-weight: 800;
        margin-bottom: 2px;
    }
    .content .price {
        font-family: "roboto", sans-serif;
        font-size: 45px;
        color: #ff004f;
        margin: 20px 0;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 0;
    }
    .content .date{
        font-family: "roboto", sans-serif;
        color: #B4B4B4;
        font-size: 14px;
        margin: 0;
        font-weight: 500;
        padding-bottom: 14px;
    }
    .content .text{
        font-family: "roboto", sans-serif;
        font-size: 15px;
        font-weight: 500;
        margin: 15px 0 0 0;
        color: #000;
    }
    .image-content{
        position: relative;
        padding-top: 2rem;
    }
    .image-content .user{
        z-index: 10;
        position: relative;
    }
    .image-content .photo{
        width: 340px;
        height: 168px;
    }
    .content-comision{
        border: 1px solid #B4B4B4;
        border-radius: 5px;
        margin-top: 25px;
        padding: 15px 100px;
    }
    .title{
        font-family: "roboto", sans-serif;
        color: #000;
        font-size: 20px;
        margin: 0;
        font-weight: 600;
        text-align: center;
        padding: 1.5rem 0;
    }
    .content-comision>img{
        width: 70px;
        height: 70px;
        object-fit: contain;
        border-radius: 50%;
        padding: 14px 0;
    }
    .content-comision>.user{
        font-family: "roboto", sans-serif;
        color: #000;
        font-size: 14px;
        margin: 0;
        font-weight: 700;
    }
    .content-comision>.comentario{
        font-family: "roboto", sans-serif;
        font-size: 13px;
        font-weight: 500;
        color: #000;
        padding-top: 4px;
    }
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    ul>li>img{
        width: 100%;
    }
    ul>li{
        width: 125px;
        text-align: -webkit-center;
        padding: 0 4px;
    }
    ul>li>p{
        font-family: "roboto", sans-serif;
        color: #000;
        font-size: 11px;
        font-weight: 600;
        width: 115px;
    }
    @media (max-width: 420px){
        .header .banner {
            width: 113px;
        }
        .content-comision {
            padding: 15px 20px;
        }
        ul {
            display: block;
            text-align: -webkit-center;
        }
        ul>li {
            padding: 5px 0;
        }
    }
}